<%= form_for @farm do |f| %>
  <div class="row">
    <div class="small-9 columns">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="small-9 columns">
      <%= f.label :address %><br>
      <%= f.text_field :address %>
    </div>
  </div>
  <div class="row">
    <div class="small-9 columns">
      <%= f.label :phone_number %><br>
      <%= f.text_field :phone_number %>
    </div>
  </div>
  <div class="row">
    <div class="small-9 columns">
      <div class="projectinfo">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>

  <div class="field">
    <%= f.label :tags_list, "Available Products"  %><br />
    <%= f.text_area :tag_list %>
  </div>
  <br>

  <dv class="field">
    <%= f.label :vendor_list %><br>
    <%= f,text_area :vendor_list %>
  </div>
  <br>
  <div class="action">
    <%= f.submit class: "button medium left" %>
  </div>
<% end %>

<%= javascript_tag do%>
  var tags = <%= raw tag_names %>;
<% end %>