<h1> Farms </h1>
<%= link_to "Home", root_url %><br />
<%= link_to "Post a new Farm", new_farm_path %>
</br>

<%= form_tag farms_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<h5><%= page_entries_info @farms %></h5>

<div id="map-container">
  <div id="map-canvas"></div>
</div>


<div id="farms">
<%= render @farms %>
</div>

<p id="farms-pagination"><%= paginate @farms %></p>

<%= javascript_tag do %>
	window.latitude = 43.6417
	window.longitude = -79.38729999999998
	window.coords = <%= raw @farms.map { |r| { latitude: r.latitude.to_f,longitude: r.longitude.to_f }}.to_json
	 %>
	<% end %>