<h1> <%= @farm.name %></h1>
<%= link_to "Home", root_url %><br />

<%= link_to "Back to Farms", farms_url %> | <%= link_to "Edit Farm", edit_farm_path(@farm) %>|
<%= link_to "Delete Farm", @farm, :confirm => "Are you sure you want to delete?", :method => :delete %>

<h2> <%= @farm.address %> </h2>
<p> <%= @farm.description %> </p>
<p> Foods grown here: <%= raw @farm.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')%></p>



<div id="map-canvas"></div>

<%= javascript_tag do %>
	window.latitude = <%= @farm.latitude %>;
	window.longitude = <%= @farm.longitude %>;
	window.coords = <%= raw [{latitude: @farm.latitude, longitude: @farm.longitude}].to_json %>
<% end %>

