<div class="farm-img" style="background-image: url('<%= image_path "farm_field.jpeg" %>')">
  <div class="image_filter"></div>
  <div class="image_text">Eating locally made easy.</div>
</div>


<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h4 class= "text-center"> The local food movement is a collaborative effort to build more locally based, self-reliant food economies - one in which sustainable food production, processing, distribution, and consumption is integrated to enhance the economic, environmental and social health of a community. Localvore is dedicated to connecting users with locally grown food by allowing merchants and restaurants to disclose farms they purchase goods from.  </h4>
    </div>  
  </div>
  </div>  


  <div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="text-center"> Farms & Merchants near you </h2>
      <div id="map-canvas"></div>
      <div class="slideTwo">
        <input type="checkbox" id="farms-checkbox" name="check" checked>
        <label for="farms-checkbox"></label>
        <p>Farms</p>
      </div>
      <div class="slideTwo">
        <input type="checkbox" id="merchants-checkbox"
        checked>
        <label for="merchants-checkbox"></label>
        <p>Merchants</p><br />
      </div>
      <div id="farm-index"></div>
      <div id="geo-locate"></div>
    </div>
  </div>
   
  <div class="row">
  <div class="large-6 columns"> 
    </div>

  <div class="large-8 columns"> 
    <ul class="small-block-grid-4">
    
      <li>
        <div>
          <div class="thumb">
            <a href="/tags/Apple"><%= image_tag("Apple.jpg") %>
          </div>
        </div>
      </li>

        <li>
        <div>
          <div class="thumb">
            <a href="/tags/Beets"><%= image_tag("beet-02.jpg") %>
          </div>
        </div>
      </li>   
      
        <li>
        <div>
          <div class="thumb">
            <a href="/tags/Carrots"><%= image_tag("carrots1.jpg") %>
          </div>
        </div>
      </li>
      <li>
        <div>
          <div class="thumb">
            <a href="/tags/Chicken"><%= image_tag("chicken.jpg") %>
          </div>
        </div>
      </li>


    </ul>
  </div>
  <div class="large-12 columns"> 
    <ul class="small-block-grid-4">
            <li>
        <div>
          <div class="thumb">
            <a href="/tags/Corn"><%= image_tag("corn.jpg") %>
          </div>
        </div>
      </li>

        <li>
        <div>
          <div class="thumb">
            <a href="/tags/Eggs"><%= image_tag("egg.jpg") %>
          </div>
        </div>
      </li>   
      
        <li>
        <div>
          <div class="thumb">
            <a href="/tags/Peaches"><%= image_tag("peach.jpg") %>
          </div>
        </div>
      </li>
      <li>
        <div>
          <div class="thumb">
            <a href="/tags/Strawberries"><%= image_tag("PerfectStrawberry.jpg") %>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="large-12 columns"> 
    <ul class="small-block-grid-4">
            <li>
        <div>
          <div class="thumb">
            <a href="/tags/Peppers"><%= image_tag("Red-Pepper.jpg") %>
          </div>
        </div>
      </li>

        <li>
        <div>
          <div class="thumb">
            <a href="/tags/Raspberries"><%= image_tag("Ripe-raspberries-photo-2.jpg") %>
          </div>
        </div>
      </li>   
      
        <li>
        <div>
          <div class="thumb">
            <a href="/tags/Tomatoes"><%= image_tag("tomato.jpg") %>
          </div>
        </div>
      </li>
      <li>
        <div>
          <div class="thumb">
            <a href="/tags/Chicken"><%= image_tag("Chicken.jpg") %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div
  
  </div>

  <script type="text/javascript">
    farms_coords = <%= raw @farms.map { |f| { latitude: f.latitude.to_f, longitude: f.longitude.to_f, infoWindow: (render partial: "info_window", locals: {farm: f})}}.to_json %>
    merch_coords = <%= raw @merchants.map { |m| { latitude: m.latitude.to_f, longitude: m.longitude.to_f, infoWindow: (render partial: "info_window", locals: {farm: m}) }}.to_json %>
  </script>

</div>
