<div class="farm-img" style="background-image: url('<%= image_path "farm_field.jpeg" %>')">
  <div class="image_filter"></div>
  <div class="image_text">Eating locally made easy.</div>
  <%= link_to farms_url do %>
    <div class="farms_button">Discover farms near you</div>
  <%end%>
  <%= link_to merchants_url do %>
    <div class="merchs_button">Learn more about local merchants</div>
  <%end%>
</div>


<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h4 class= "text-center"> The local food movement is a collaborative effort to build more locally based, self-reliant food economies - one in which sustainable food production, processing, distribution, and consumption is integrated to enhance the economic, environmental and social health of a community. Localvore is dedicated to connecting users with locally grown food by allowing merchants and restaurants to disclose farms they purchase goods from.  </h4>
    </div>  
  </div>
  </div>  


  <div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="text-center"> Farms & Markets near you </h2>
      <div id="map-canvas"></div>
      <div class="slideTwo">
        <input type="checkbox" id="farms-checkbox" name="check" checked>
        <label for="farms-checkbox"></label>
        <p>Farms</p>
      </div>
      <div class="slideTwo">
        <input type="checkbox" id="merchants-checkbox">
        <label for="merchants-checkbox"></label>
        <p>Merchants</p><br />
      </div>
      <div id="farm-index"></div>
      <div id="geo-locate"></div>
    </div>
  </div>
  </div>

  <script type="text/javascript">
    farms_coords = <%= raw @farms.map { |f| { latitude: f.latitude.to_f, longitude: f.longitude.to_f, infoWindow: (render partial: "info_window", locals: {farm: f})}}.to_json %>
    merch_coords = <%= raw @merchants.map { |m| { latitude: m.latitude.to_f, longitude: m.longitude.to_f, infoWindow: (render partial: "info_window", locals: {farm: m}) }}.to_json %>
  </script>

</div>
