<%= link_to "Home", root_url %><br />
<h1> <%= @merchant.name %></h1>


<%= link_to "Back to Farms", farms_url %> | <%= link_to "Edit Merchant", edit_merchant_path(@merchant) %>|
<%= link_to "Delete Merchant", @merchant, :confirm => "Are you sure you want to delete?", :method => :delete %>

<h2> <%= @merchant.address %> </h2>
<p> <%= @merchant.description %> </p>



<div id="map-canvas"></div>
<div id="show-page"></div>



<%= javascript_tag do %>
	window.farmLat = <%= @merchant.latitude %>;
	window.farmLong = <%= @merchant.longitude %>;
	window.polyCoords = <%= raw @merchant.farms.map { |r| { latitude: r.latitude.to_f,longitude: r.longitude.to_f }}.to_json %>
	console.log(polyCoords);
<!-- 	flightPath.setMap(map); -->
<% end %>


