<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "Localvore" %></title>

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/modernizr" %>
	<%= csrf_meta_tags %>




	<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=geometry&key=#{Figaro.env.google_maps_api}&sensor=false" %>

    
</head>

<body>
		<div class="navbar">
			<div class="navbuttons">
					<div class="navbutt"><%= link_to "Farms", farms_url %></div>
					<div class="navbutt"><%= link_to "Merchants", merchants_url %></div>
					<div class="navbutt"><a href="#">Ingredients</a></div>
			</div>
			<h3><img src="http://www.iconsdb.com/icons/download/white/leaf-2-32.png"> <%= link_to "Localvore", root_path %></h3>
		</div>
	</div>
		

		<div class="container">
				<%= yield %>
		</div>
		
		<%= javascript_include_tag 'application' %>
	</body>
	</html>

	<%= javascript_tag do %>
	 window.icons = [
			"<%= image_url 'farm_marker.png' %>",
			"<%= image_url 'merch_marker.png' %>"
			];
			<% end %>