<!DOCTYPE html>
<html>
<head>
  <title>Localvore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  
 <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api}&sensor=false" %>


  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
